{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": 0,
    "prefer-destructuring": ["error", {"object": true, "array": true}],
    "object-curly-spacing": ["error", "always"],
    "operator-linebreak": ["error", "before", { "overrides": { "=": "after" } }],
    "no-unused-expressions": ["warn", {
      "allowShortCircuit": true,
      "allowTernary": true
    }], // https://eslint.org/docs/rules/no-unused-expressions
    "@typescript-eslint/prefer-interface": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/explicit-function-return-type": ["error", {
      "allowExpressions": true
    }],
    "@typescript-eslint/no-explicit-any": "warn",
    "global-require": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "max-len": ["error", {"code":  120}],
    "react/jsx-filename-extension": 0
  },
  "overrides": [
    {
      "files": [ "*.test.ts" ],
      "rules": {
        "@typescript-eslint/no-use-before-define": 0,
        "no-multi-assign": 0,
        "operator-linebreak": 0,
        "no-unused-expressions": 0
      }
    }
  ],
  "settings": {
    "import/extensions": [".ts"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js",".ts"]
      }
    }
  },
  "env": {
    "commonjs": true,
    "node": true,
    "jest": true,
    "es6": true
  }
}
